In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
import lightgbm as lgb

In [12]:
train = pd.read_csv('cleaned_train.csv')
train = train.drop('Unnamed: 0', axis = 1)
test = pd.read_csv('cleaned_test.csv')
test = test.drop('Unnamed: 0', axis = 1)

In [13]:
train.risk_flag.value_counts()

0    221004
1     30996
Name: risk_flag, dtype: int64

In [14]:
bst = lgb.Booster(model_file='model2021-04-04 19:21:40.626101.txt')

In [15]:
X_test = test[['income', 'age', 'experience', 'married', 'house_ownership',
       'car_ownership', 'profession', 'city', 'state', 'current_job_years',
       'current_house_years', 'prob']]

In [16]:
train.head()

,Id,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag,prob
0,1,-1.283145,23,3,0,0,0,33,1.007167,13,3,13,0,0.111558
1,2,0.895457,40,10,0,0,0,43,0.746867,14,9,13,0,0.148427
2,3,-0.349269,66,4,1,0,0,47,-1.628364,12,4,10,0,0.134167
3,4,0.437526,41,2,0,0,1,43,-1.129457,17,2,12,1,0.148427
4,5,0.268128,47,11,0,0,0,11,1.495228,22,3,14,1,0.115794

In [20]:
preds = bst.predict(X_test)
preds = np.where(preds>0.3, 1, 0)
sub_lgb = pd.DataFrame()
sub_lgb['id'] = test['id']
sub_lgb['risk_flag'] = preds
# name = f"lgb_{date}.csv"
# sub_lgb.to_csv(name, index=False)
sub_lgb.head()

   id  risk_flag
0   1          0
1   2          0
2   3          0
3   4          0
4   5          0

In [21]:
sub_lgb.risk_flag.value_counts()

0    25005
1     2995
Name: risk_flag, dtype: int64

In [22]:
2995/25005

0.11977604479104179